/* 字体导入 */
@font-face {
    font-family: "微软雅黑";
    src: url("../font/微软雅黑.ttc")format('truetype');
    font-display: swap;
}

@font-face {
    font-family: "微软雅黑 粗体";
    src: url("../font/微软雅黑\ 粗体.ttc")format('truetype');
    font-display: swap;
}

@font-face {
    font-family: "微软雅黑 Light";
    src: url("../font/微软雅黑\ Light.ttc")format('truetype');
    font-display: swap;
}

/* 全局设定 */
* {
    /* 移除文本/链接的下划线效果 */
    text-decoration: none;
    /* 移除列表项的默认样式，如列表项前的圆点、数字等 */
    list-style: none;
    /* 移除默认的外边距 */
    margin: 0;
    /* 移除默认的边框 */
    border: 0;
    /* 移除默认的内边距 */
    padding: 0;

    /* 默认字体居中 */
    text-align: center;
    /* 字体系列 */
    font-family: "微软雅黑", "Microsoft YaHei", "微软雅黑 Light", "Microsoft YaHei Light";
    /* 字符间距 */
    letter-spacing: 0.2vw;
    /* 默认字体棕色 */
    color: #A63232;
}

/* 标题字体 */
.title {
    font-size: 1.8rem;
}

/* 背景 */
body {
    font-size: 1rem;
    background-color: #FFC7C7;

    /* 隐藏滚动条 */
    /* Firefox */
    scrollbar-width: none;
    /* IE and Edge */
    -ms-overflow-style: none;
}

/* 自定义滚动条的样式 */
::-webkit-scrollbar {
    /* Safari and Chrome */
    display: none;
}

/* 标题、底部 */
header,
footer {
    background-color: #FF9999;
    padding: 3vh;
    cursor: default;
}

/* 主体 */
main {
    padding: 1% 5vw;
    min-height: 80vh;
}

/* 针对非PC设备 */
@media only screen and (max-width: 768px) {

    /* 全局设定 */
    * {
        font-family: "微软雅黑 Light", "Microsoft YaHei Light", "微软雅黑", "Microsoft YaHei";
    }
}