main {
    display: flex;
    position: relative;
    /* 子元素水平排列。空间不够，自动换行 */
    flex-direction: row;
}

main img {
    position: relative;
    left: -10%;
    width: 50%;
    height: "auto";
}
aside {
    width: 30%;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #e9a9a9;
}