@import url("body.css");
@import url("header.css");

/* 图片信息 */
#imageInfo {
    border-radius: 1%;
    overflow: hidden;
    background-color: #ffffff;
}

/* 图片 */
#image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 10%;
    background-color: #fafafa;
}

/* 图片 */
#image>img {
    display: block;
    width: 100%;
}

/* 信息 */
#info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 2% 10%;
    background-color: #FF9999;
}

/* 信息内容容器 */
#info>* {
    padding: 1% 0;
}

/* 设置栏 */
#setting {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    width: 100%;
    height: 1.5rem;
}

/* 设置栏选项 */
#setting * {
    height: 100%;
    /* 限定容器宽高比为 1 / 1 */
    aspect-ratio: 1 / 1;
    margin: 0 1%;
}

/* 点赞按钮 */
.love {
    /* 为了兼容 */
    -webkit-mask: url('../picture/其它/love.svg') no-repeat center / contain;
    /* 图片蒙版 */
    mask: url('../picture/其它/love.svg') no-repeat center / contain;
    background-color: #000000;
}

/* 点赞按钮切换 */
.loved {
    /* 为了兼容 */
    -webkit-mask: url('../picture/其它/love-red.svg') no-repeat center / contain;
    /* 图片蒙版 */
    mask: url('../picture/其它/love-red.svg') no-repeat center / contain;
    background-color: #ff0000;
}

/* 下载按钮 */
#download {
    /* 为了兼容 */
    -webkit-mask: url('../picture/其它/download.svg') no-repeat center / contain;
    /* 图片蒙版 */
    mask: url('../picture/其它/download.svg') no-repeat center / contain;
    background-color: #000000;
}

/* 标签组 */
#label {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    width: 100%;
}

/* 标签 */
#label>span {
    margin-right: 2%;
}