/* 导航栏 */
nav {
    background-color: #FF9999;
    /* 滚动页面时固定位置 */
    position: sticky;
    /* 固定在顶部 */
    top: 0;
    /* 最高优先级 */
    z-index: 9;
}

/* 导航栏选项列表 */
.numberList {
    /* 弹性布局 */
    display: flex;
    /* 主轴上项目居中对齐 */
    justify-content: center;
}

/* 导航栏选项 */
.number {
    /* 相对自身默认定位 */
    position: relative;

    width: 10%;
    /* 最小宽度 */
    min-width: 100px;
    /* 字体大小 */
    font-size: 100%;
    padding: 0.5% 0;
}

/* 菜单栏 */
.menu {
    /* 不占空间相对定位 */
    position: absolute;
    background-color: #FF9999;
    /* 下移 */
    top: 100%;
    /* 左移 */
    left: 0;
    /* 与上级元素宽度相同 */
    width: 100%;
    /* 显示优先级高于默认 */
    z-index: 1;
    /* 默认隐藏 */
    display: none;
}

/* 鼠标划过 - 导航栏选项字体 */
.number:hover, .number:hover>a {
    color: #ffffff;
}

/* 鼠标划过 - 菜单栏 */
.number:hover .menu {
    /* 显示 */
    display: block;
}

/*  */
.menu li {
    /* 相对自身默认定位 */
    position: relative;
    padding: 3px 0;
}

/* 鼠标划过 - 菜单栏选项 */
.menu li:hover {
    background-color: #FF9999;
}


/* 鼠标划过 - 菜单栏选项 */
.menu li:hover>a {
    color: #ffffff;
}