#image {
    column-count: 4;
    column-gap: 1%;
}
#image>a {
    display: block;
    border-radius: 2%;
    /* 先将图片以原始比例放大 */
    width: 100%;
    height: auto;
    /* 限定容器宽高比为 1 / 1 */
    aspect-ratio: 1 / 1;
    overflow: hidden;
    /* 图片自适应容器大小 */
    object-fit: cover;
    margin: 2% 0;

    /* 搭配 “鼠标滑过 - 图片放大” 使用 */
    /* transition: transform 0.3s ease; */
}
/* 鼠标滑过 - 图片放大 */
/* #image-container img:hover {
    transform: scale(1.08);
} */